<article class="SuKienNoiBat">
  <h1><%= appdata.NhaTro.name %></h1>
  <p>
  <%= appdata.NhaTro.summary %></h1>
  <%= appdata.NhaTro.description %></h1>
  </p>
  <p><% include socialmedia.ejs %></p>
</article>