<article class="SuKien">
  <section class="layout">
    <p> </p>
    <h3>Sự kiện sắp diễn ra</h3>
    <p> </p>
    <a href="/NganHangNhaTro">
      <img src="/images/SuKien/NganHangNhaTro.jpg" alt="Roux Academy Logo">
    </a>
  </section>
</article>